<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar Usuario</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<script src="/js/menu.js"></script>
</head>
<body>
    
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    <br>

    <div class="form-header">
        <h1>Cadastro de usuario</h1>
    </div>

    <br>
	
	<div th:insert="fragments/message :: message"></div>

	<form id="formCadastroUsuario" th:action="@{/usuario/save}" th:object="${usuario}" method="post">
	    <br>
	    <div th:insert="fragments/formUsuario :: formUsuario"></div>
	    <div class="button-container">
	        <button type="submit">Salvar</button>
	        <button type="button" onclick="window.location.href='/usuario/form'">Cancelar</button>
	    </div>
	</form>

	<script>
	document.addEventListener("DOMContentLoaded", function() {
	  const form = document.getElementById("formCadastroUsuario"); // apenas este form
	  const dataNascimentoInput = document.getElementById("idDataNascimento");

	  if (form && dataNascimentoInput) {
	    form.addEventListener("submit", function(event) {
	      const dataNascimento = new Date(dataNascimentoInput.value);
	      const hoje = new Date();

	      let idade = hoje.getFullYear() - dataNascimento.getFullYear();
	      const mes = hoje.getMonth() - dataNascimento.getMonth();
	      if (mes < 0 || (mes === 0 && hoje.getDate() < dataNascimento.getDate())) {
	        idade--;
	      }

	      if (idade < 18) {
	        event.preventDefault();
	        alert("O usuário deve ter pelo menos 18 anos.");
	        dataNascimentoInput.focus();
	        return;
	      }
	    });
	  }
	});
	</script>

</body>
</html>