<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar CNH</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
   
    <div th:insert="fragments/message :: message"></div>

    <h1>Nova CNH</h1>
    
    <form th:action="@{/cnh/save}" th:object="${cnh}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label for="idNumeroCnh">Número da CNH*:</label>
        <input type="text" id="idNumeroCnh" th:field="*{numeroCnh}" placeholder="Informe o número da CNH" required/>
        <br/><br/>

        <label for="idCategoria">Categoria*:</label>
        <input type="text" id="idCategoria" th:field="*{categoria}" placeholder="Ex: A, B, C" required/>
        <br/><br/>

        <label for="idDataEmissao">Data de Emissão*:</label>
        <input type="date" id="idDataEmissao" th:field="*{dataEmissao}" required/>
        <br/><br/>

        <label for="idDataValidade">Data de Validade*:</label>
        <input type="date" id="idDataValidade" th:field="*{dataValidade}" required/>
        <br/><br/>

        <label for="idOrgaoEmissor">Órgão Emissor*:</label>
        <input type="text" id="idOrgaoEmissor" th:field="*{orgaoEmissor}" placeholder="Informe o órgão emissor" required/>
        <br/><br/>

        <label for="idObservacoes">Observações:</label>
        <input type="text" id="idObservacoes" th:field="*{observacoes}" placeholder="Ex: restrição de lentes"/>
        <br/><br/>

        <!-- Submit Buttons -->
        <button type="submit">Salvar</button>
        <button type="reset">Cancelar</button>
   
    </form>
</body>
</html>
